@using System
@using System.Collections.Generic
@using System.Linq
@using VsNu

@{
    var assemblies = @Model.GetUniqueAssemblyRefNames();
}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Visual Studio Nuget Analysis Result</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
    <style>
        body {
            overflow: auto;
            width: 100%;
        }

        table {
            border-collapse: collapse;
            border: 1px solid #000000;
        }

        table td, th {
            border: 1px solid #000000;
            padding: 10px;
        }

        th {
            background-color: #333333;
            color: #ffffff;
            /*height: 301px;*/
            min-width: 100px;
        }

        td {
            /* These are technically the same, but use both */
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            /* This is the dangerous one in WebKit, as it breaks things wherever */
            word-break: break-all;
            /* Instead use this non-standard one: */
            word-break: break-word;
            /* Adds a hyphen where the word breaks, if supported (No Blink) */
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
            min-width: 200px;
            max-width: 200px;
        }

        table th:first-child {
            border-top-color: #ffffff;
            border-left-color: #ffffff;
            min-width: 200px;
            max-width: 200px;
            background-color: #ffffff;
        }

        table td:first-child {
            min-width: 100px;
            max-width: 100px;
            background-color: #999;
        }

        .container {
            margin: 20px;
            width:100%;
        }

        .error {
            background-color: #ffaaaa;
        }
    </style>
</head>
<body>

    <h1>VsNu Results - @DateTime.Now.ToString("f")</h1>

    @*<div class="container">*@
        <ul>
            @foreach (var assembly in assemblies)
            {
                <li><a href="#@assembly">@assembly</a></li>
            }
        </ul>
    @*</div>*@

    <div class="container">
        <h2>Results</h2>

        @foreach (string assembly in assemblies)
        {
            <a id="@assembly"></a>
            <h3>@assembly</h3>
            <table>
                <tr>
                    <th></th>
                    @foreach (var project in @Model.GetProjectsForPackage(assembly))
                    {
                        <th>@project.Name</th>
                    }
                </tr>
                <tr>
                    <td>Version</td>
                    @foreach (Project project in @Model.GetProjectsForPackage(assembly))
                    {
                        var reference = project.GetReference(assembly);
                        string error = null;
                        if (reference.VersionMismatch)
                        {
                            error = "error";
                        }
                        <td class="@error">@reference.ProjectAssemblyRef.Version</td>
                    }
                </tr>
                <tr>
                    <td>Assembly Version</td>
                    @foreach (Project project in @Model.GetProjectsForPackage(assembly))
                    {
                        var reference = project.GetReference(assembly);
                        string error = null;
                        if (reference.VersionMismatch)
                        {
                            error = "error";
                        }
                        <td class="@error">@reference.AssemblyInfo.Version</td>
                    }
                </tr>
                <tr>
                    <td>Hint Path</td>
                    @foreach (Project project in @Model.GetProjectsForPackage(assembly))
                    {
                        <td>@project.GetReference(assembly).HintPath</td>
                    }
                </tr>
                <tr>
                    <td>Assembly Path</td>
                    @foreach (Project project in @Model.GetProjectsForPackage(assembly))
                    {
                        <td>@project.GetReference(assembly).AssemblyInfo.Path</td>
                    }
                </tr>
                <tr>
                    <td>Package Config</td>
                    @foreach (Project project in @Model.GetProjectsForPackage(assembly))
                    {
                        var contains = project.Packages.FirstOrDefault(p => p.Contains(assembly));

                        if (contains != null)
                        {
                            <td>@(contains.GetPackageAssemblyReference(assembly).First().Name)</td>
                        }
                        else
                        {
                            <td class="error">Null</td>
                        }

                        @*var packageRef = project.Packages.SingleOrDefault(p => p.GetPackageAssemblyReference(assembly));
                            if (packageRef != null)
                            {
                                <td>@packageRef.GetPackageInfo().Version.ToString()</td>
                            }
                            else
                            {
                                <td class="error">MISSING</td>
                            }*@
                    }
                </tr>
            </table>
        }

    </div>

</body>
</html>